<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
	 <body style="font-size:20px; padding:50px;">
	    <header>TinyApp
	    </header>
 	<% if (!username) { %>
 		<table>
			<tr>
				<form method = "POST" action ="/urls/login">
					<input name ="username" type ="text" placeholder="username"></input>
					<input name ="password" type ="password" placeholder="password"></input>
					<input type ="submit" value ="Login"></input>
				</form>
			</tr>
			<tr>
				<p>Don't have an account? <a href="/register">Register</a>
			</tr>
		</table>
	<% } else { %>
		<table>
		<%= username %>
	 	<form method = "POST" action ="/logout">
			<input type ="submit" value ="Logout"></input>
		</form>
		</table>
	<% } %>
</html>

