<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
	 <body style="font-size:20px; padding:50px;">
	    <header>
	        <% include ./partials/_header %>
	    </header>
 	<% if (!username) { %>
 		<table>
		<form method = "POST" action ="/login">
			<input name ="username" type ="text" placeholder="username"></input>
			<input name ="password" type ="password" placeholder="password"></input>
			<input type ="submit" value ="Login"></input>
		</form>
			<form method="get" action="/register">
				<button type="submit">Register</button>
			</form>
		</table>
	<% } else { %>
		<table>
		<%= username %>
	 	<form method = "POST" action ="/logout">
			<input type ="submit" value ="Logout"></input>
		</form>
		</table>
	<% } %>
</html>

