<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <ul>
      <% for (url in templateVars.urls) { %>
      <li><%= url %> : <%= templateVars.urls[url] %> <a href ="">Shortened URL</a></li>
      <% } %>
    </ul>

</body> 
</html>


