<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
	 <body style="font-size:20px; padding:50px;">
	    <header>
	        <% include ./partials/_header %>
	    </header>
	   		<br><%= shortURL%>
			<form action="/urls/<%=shortURL%>" method="POST">
		      	<input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 250px"></input>
		      	<input type="submit" value ="Update">
		      	</input>
	      	</form>
	</body> 
</html>
