<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
	 <body style="font-size:20px; padding:50px;">
	    <header>
			TinyApp
	    </header>
	    <form method = "POST" action ="/register">
		    <input name ="email" type ="email" placeholder="email"></input>
		    <input name ="password" type ="password" placeholder="password"></input>
		    <input type ="submit" value ="Register"></input>
	    </form>
	</body> 
</html>


