<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
	 <body style="font-size:20px; padding:50px;">
<<<<<<< HEAD
	    <header>
	        <% include ./partials/_header %>
	    </header>
	</body> 
</html>
=======
	    <header>TinyApp
	    </header>
 		<table>
			<tr>
				<form method = "POST" action ="/urls/login">
					<input name ="email" type ="text" placeholder="email"></input>
					<input name ="password" type ="password" placeholder="password"></input>
					<input type ="submit" value ="Login"></input>
				</form>
			</tr>
			<tr>
				<p>Don't have an account? <a href="/register">Register</a>
			</tr>
		</table>
</html>

>>>>>>> feature/user-registration
