<header>TinyApp</header>
 	<% if (!username) { %>
		<form method = "POST" action ="/login">
		<input name ="username" type ="text" placeholder="username"></input>
		<input type ="submit" value ="Login"></input>

		</form>
	<% } else { %>
		<table>
		<%= username %>
	 	<form method = "POST" action ="/logout">
			<input type ="submit" value ="Logout"></input>
		</form>
		</table>
	<% } %>
