<!DOCTYPE html>
<html lang="en">
	<header>TinyApp</header>
		<body>
	 	<% if (!email) { %>
	 		<table>
	 			<p>You're not logged in. <a href="/urls/login">Log in.</a></p>
			</table>
		<% } else { %>
			<table>
			<%= email %>
		 	<form method = "POST" action ="/logout">
				<input type ="submit" value ="Logout"></input>
			</form>
			</table>
		<% } %>
	</body>
</html>
	